doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Error | Clickwave
    link(
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap",
      rel="stylesheet"
    )
    link(rel="stylesheet", href="/css/dashboard.css")
    link(rel="stylesheet", href="/css/error.css")
